// anything new here, not in a file that would be overwritten on updates

// maybe actually use some of these
.narrow-page-title {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 400;
}
.top-bar, .top-bar ul {
  background-color:#9b0f29;
  color: $white;
  a, a:hover {
    color: $white;
  }
}

// my items for testing
.orange {color:orangered;}
.blue {color: slateblue;}
.green {color:yellowgreen;}
.largertext {font-size:130%;}

/**/

.demo {
  background: #1779ba;
}
#bloop .cell {
  /*background: dodgerblue;*/
  background-color: #666;
  line-height: 50px;
  height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
