<div class="hover-wrapper">

  <div class="card card-building-block">

    <div class="card-img" style="background: url('http://placehold.it/540x300&text=.') center center no-repeat">

      <div class="card-category">        container      </div>
    <div class="card-divider align-justify">
      <h3 class="card-title">Showcase Card</h3>
      <span class="version-badge">F6</span>
    </div>
    {{#ifequal type 'detailed-card'}} <!--type is a custom variable, followed by a string -->
    <div class="card-divider align-justify">
 <!-- stopped here but this is the idea -->
    </div>

    </div>

  </div>



</div>
