<ul class="menu vertical">
  <li class="docs-nav-title">Getting Started</li>
  <li><a href="index.html" class="{{#ifpage 'index'}}active{{/ifpage}}">Home</a></li>
  <li><a href="pg2.html" class="{{#ifpage 'pg2'}}active{{/ifpage}}">Page 2</a></li>
  <li><a href="pg3.html" class="{{#ifpage 'pg3'}}active{{/ifpage}}">Page 3</a></li>
  <li><a href="otherway.html" class="{{#ifpage 'otherway'}}active{{/ifpage}}">Another Way</a></li>
  <li><a href="kitchen-sink.html" class="{{#ifpage 'kitchen-sink'}}active{{/ifpage}}">Kitchen Sink</a></li>
</ul>
